## Used by DB Class 2/2
## 2024/02/19, Adam Lee
# dboffset
db_offset.default=%sql% limit %limit% offset %offset%
## MySQL ##
# MySQL7
db_mysql7.drive=com.mysql.jdbc.Driver
db_mysql7.jdbc=jdbc:mysql://%host%:%port%/%db%?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
# MySQL8
db_mysql.drive=com.mysql.cj.jdbc.Driver
db_mysql.jdbc=jdbc:mysql://%host%:%port%/%db%?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
## PostgreSQL ##
# PostgreSQL
db_postgresql.drive=org.postgresql.Driver
db_postgresql.jdbc=jdbc:postgresql://%host%:%port%/%db%
## H2 ##
# H2
db_h2.drive=org.h2.Driver
db_h2.jdbc=jdbc:h2:tcp://%host%:%port%/%db%;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
# H2M
db_h2mem.drive=org.h2.Driver
db_h2mem.jdbc=jdbc:h2:mem:%db%;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
# H2L
db_h2l.drive=org.h2.Driver
db_h2l.jdbc=jdbc:h2:%db%
