# dboffset
db_offset.default=%sql% limit %limit% offset %offset%
# MySQL7
db_mysql7.drive=com.mysql.jdbc.Driver
db_mysql7.jdbc=jdbc:mysql://%host%:%port%/%db%?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
# MySQL8
db_mysql.drive=com.mysql.cj.jdbc.Driver
db_mysql.jdbc=jdbc:mysql://%host%:%port%/%db%?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC

# H2
db_h2.drive=org.h2.Driver
db_h2.jdbc=jdbc:h2:tcp://%host%:%port%/%db%;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
